<div class="gig">
  <h1>{{title}}</h1>
  <h2>suggested repos</h2>
</div>
<br>
<div class="elements">
  <div *ngFor="let e of elemLi">
    <lis desc="{{e.desc}}" uri="{{e.link}}">{{e.name}}</lis>
  </div>
</div>
<br>
<div>
  <button (click)="toggler()">{{shl}} Licenses</button>
  <pre class="lic" *ngIf="xb">
    {{party}}
  </pre>
</div>
<div class="blo"></div>
<div class="copy">
  <div class="ou copy"></div>
  <div class="inner copy">
    <a href="https://github.com/Sharkbyteprojects" class="copy">
      &copy;Sharkbyteprojects MIT-License
    </a>
  </div>
</div>